<h1><%=@building.name%></h1>
<h1><%=@building.country%></h1>
<h1><%=@building.address%></h1>
<h1><%=@building.rent_per_floor%></h1>
<h1><%=@building.number_of_floors%></h1><br>

<% @building.offices.each do |office|%>
    <h2> <%=link_to office.company.name, company_path(office.company)%> </h2>
<%end%>

<h1>Total Rent: <%=@building.total_rent%></h1>